h1,h2,h3,h4,h5,h6{color:#000000;font-weight:normal}
*{border:box-sizing;}
li{list-style:none}
body{background:#ffffff;font:14px PingFangSC-Regular;margin:0px;position:relative;overflow-x:hidden !important;-webkit-overflow-scrolling:touch;width:100%}
body,ul,li,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select{padding:0;margin:0;}
img{vertical-align:bottom;display:block;border: none}
i{font-style:normal}
a{text-decoration:none;color:#666}
a,a:hover{transition:background 0.5s linear;-webkit-transition:background 0.5s linear;-moz-transition:background 0.5s linear;-o-transition:background 0.5s linear}
button{border:none}
table{border-collapse:collapse;border-spacing:0}
input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
textarea {resize:none;}
input{border:none}
.lf{float:left}
.rt{float:right}
.clear:after{clear:both;display:block;content:""}